@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-text {
  @apply text-base md:text-lg lg:text-xl text-justify leading-relaxed text-gray-400;
}

.responsive-reading {
  @apply text-3xl md:text-3xl lg:text-xl text-slate-300;
}
